:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainTextColor: #FFE4CC;
  --screenSize: 70%;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-size: cover;
  color: var(--mainTextColor);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
}